@model Item[]

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

@if (Model.Length == 0)
{
    <p>По вашему запросу ничего не найдено.</p>
}
else
{
    <ul>
    @foreach(var item in Model)
        {
            <li><a href ="@Url.Action("Index", "Item", new {id = item.Id})">@item.Title</a></li>        
        }
    </ul>
}
