@using Store.YandexKassa.Areas.YandexKassa.Controllers
@using Store.YandexKassa.Areas.YandexKassa.Models
@model ExampleModel

@{
    ViewData["Title"] = "Яндекс.Касса";
}

<h4>Яндекс.Касса</h4>

<p>
    Здесь происходит имитация редиректа на внешнюю службу оплаты.
</p>

<form action="@Url.Action(nameof(HomeController.Callback), "Home", new { area = "YandexKassa" })" method="post">
    <input type="hidden" name="orderId" value="@Model.OrderId" />
    <input type="hidden" name="returnUri" value="@Model.ReturnUri" />
    <button type="submit" class="btn btn-success">Оплатить</button>
</form>